{% load humanize %}
{% load trend %}

<!-- Header -->
<div class="header pb-5 pt-5 pt-md-6 bg-secondary">
    <div class="container-fluid">
        <div class="header-body">
        <!-- This card compoonent to show current number of flights coming in and out of Texas. -->
            <div class="row">
            <!-- The card for the flights out of Texas.  -->
                <div class="col-xl-6 col-lg-6">
                    <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Flights out of TX</h5>
                                    <span id="texas_departures" class="h2 font-weight-bold mb-0">0</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                        <i class="fas fa-plane-departure"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- The card for the flights Texas bound. -->
                <div class="col-xl-6 col-lg-6">
                    <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Flights TX bound</h5>
                                    <span id="texas_arrivals" class="h2 font-weight-bold mb-0">0</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                                        <i class="fas fa-plane-arrival"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
            <!-- The card for the Deaths stats in header. #TODO update this  -->
                <!-- <div class="col-xl-6 col-lg-6">
                    <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Most Infections</h5>
                                    <span id="daily_deaths_label" class="h2 font-weight-bold mb-0">0</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fas fa-head-side-cough"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
            <!-- The card for the Death Rate stats in header. #TODO update this  -->
                    <!-- <div class="col-xl-6 col-lg-6">
                        <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Flights Cancelled</h5>
                                        <span id="daily_death_rate_label" class="h2 font-weight-bold mb-0">0</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                            <i class="fa fa-ban"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Specific JS goes HERE -->
{% block javascripts %}

<!-- Load and display data -->
<script defer src="/static/assets/js/fetch-data.js"></script>
{% endblock javascripts %}