{% extends 'layouts/base.html' %}

{% block title %} Data {% endblock title %}

{% block content %}

<div class="container-fluid pt-6 bg-secondary">
    <h2>COVID Data Sources</h2>
    <p>For the Covidly Dashboard project we used data sets and data sources from the following.</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins University Center for Systems Science and Engineering</a></li>
        <li class="list-group-item"><a href="https://github.com/owid/covid-19-data/tree/master/public/data">Our World In Data</a></li>
        <li class="list-group-item"><a href="https://github.com/nytimes/covid-19-data">New York Times</a></li>
    </ul>
    <hr>
    <h2>Flight Tracker Data Sources</h2>
    <p>For the Flight Tracker component of this project we used the following API data source.</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="https://aviationstack.com/">AviationStack</a> using the <code>flights</code> endpoint to capture flight departure times
            and arrival times for the five major Texas airports ELP, DAL, AUS, DFW, and SAT</li>
    </ul>
    <hr>
    <h2>Newsfeed Data Sources</h2>
    <p>For the newsfeed component of this project we used the following APIs and endpoints.</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="https://developer.twitter.com/en/docs/twitter-api/tweets/search/api-reference/get-tweets-search-recent">Twitter API</a> using the
            <code>recent tweets</code> endpoint
        </li>
        <li class="list-group-item"><a href="https://newsapi.org/docs">NewsAPI</a> using the <code>top-headlines</code> and <code>everything</code> endpoints.</li>
    </ul>
    <hr>
    <h2>Team Members</h2>
    <p>The table below shows our team members and a short summary of their contributions.</p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Group</th>
            <th scope="col">Contribution</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Kevin Apodaca</td>
            <td>Frontend/Visualization</td>
            <td>Retrieve and visualize COVID data on maps, time series, and tables.</td>
        </tr>
        <tr>
            <td>Jacob Barberena</td>
            <td>Data Visualization</td>
            <td>Implemented mirror bar chart to show COVID deaths by county. Aided in showing data for top 5 states.</td>
        </tr>
        <tr>
            <td>Stephanie Callejas</td>
            <td>Frontend</td>
            <td>Flight tracker page to display information about current flights in Texas.</td>
        </tr>
        <tr>
            <td>Valeria Gonzalez Muñoz</td>
            <td>APIs</td>
            <td>Retrieved current COVID data for the US, states and counties. Designed final logo.</td>
        </tr>
        <tr>
            <td>Xavier Martinez</td>
            <td>Frontend/APIs</td>
            <td>Fetch and render live COVID-related tweet data to frontend.</td>
        </tr>
        <tr>
            <td>Sebastian Nuñez</td>
            <td>APIs</td>
            <td>Developed methods to fetch relevant flight data for Texas airports.</td>
        </tr>
        <tr>
            <td>Richard Quinn</td>
            <td>Frontend</td>
            <td>Frontend work to set up the flight tracker page. Make connections between flights API to frontend components.</td>
        </tr>
        <tr>
            <td>Antonio Sosa</td>
            <td>Visualization</td>
            <td>Developed multiple data visualizations for COVID data to be used in frontend.</td>
        </tr>
        <tr>
            <td>Cynthia Sustaita</td>
            <td>Frontend/APIs</td>
            <td>Fetch and render current COVID-related news to frontend. Fetching flight tracker information to later be used in frontend.</td>
        </tr>
        <tr>
            <td>Gilbert Velasquez</td>
            <td>Visualization/Interaction</td>
            <td>Cleaning and visualization of COVID daily API. Aided in developing visualization for top infected states.</td>
        </tr>
        </tbody>
    </table>

    {% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
$('.nav-item a').removeClass('active');
$('.data-item a').addClass('active');
</script>
{% endblock javascripts %}
