{% extends 'layouts/base.html' %}


{% block content %}
    <br>
    <h1 class="display-3">Flight Tracker </h1>
  <!-- Renders the interactive map that shows the Ployly Mapbox.
        Fetches the GeoJSON data from the plotly dataset for countries found here https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json
   -->
    <div class="container-fluid mt-1 bg-secondary">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Don’t travel if you are sick or test positive for COVID-19. Don’t travel with someone who is sick.</strong> Travel can increase your chance of spreading and getting COVID-19. Postponing travel and staying home is the best way to protect yourself and others from COVID-19.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        {% include "includes/flight-header.html" %}
      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
$('.nav-item a').removeClass('active');
$('.home-item a').addClass('active');
</script>

<!-- Sortable Tables -->
<script defer src="/static/assets/js/sorttable.js"></script>

<!-- Plotly.js CDN -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.54.6/plotly.min.js"></script>

<!-- Load and display data -->
<script defer src="/static/assets/js/fetch-data.js"></script>
{% endblock javascripts %}
