{% extends 'layouts/base.html' %}

{% block content %}

<h1 class="display-3">Covidly Newsfeed </h1>
<div class="container">
    <div class="btn-group btn-toggle mb-2">
        <button class="btn btn-xs btn-primary active">Newsfeed</button>
        <button class="btn btn-xs btn-default">Twitter</button>
    </div>
    <h3 class="display-4">Newsfeed―</h3>
    <div id="tweets" style="height: 100%;"><div class="loader"></div></div>
  
</div>
    <style>
        .cstm-height-card .card-img-top {
            height: 100px;
            object-fit: cover;
        }
        body {
            margin-top: 20px;
        }

           .card {
               border: none;
           }
        .card-img {
            border-radius: 0;
        }

        .vgr-cards {
        .card {
            display: flex;
            flex-flow: wrap;
            flex: 100%;
            margin-bottom: 40px;

        &:nth-child(even) .card-img-body {
             order: 2;
         }

        &:nth-child(even) .card-body {
             padding-left: 0;
             padding-right: 1.25rem;
         }

        @media (max-width: 576px) {
            display: block;
        }

        }

        .card-img-body {
            flex: 1;
            overflow: hidden;
            position: relative;

        @media (max-width: 576px) {
            width: 100%;
            height: 200px;
            margin-bottom: 20px;
        }

        }

        .card-img {
            width: 100%;
            height: auto;
            position: absolute;
            margin-left: 50%;
            transform: translateX(-50%);

        @media (max-width: 1140px) {
            margin: 0;
            transform: none;
            width: 100%;
            height: auto;
        }

        }

        .card-body {
            flex: 2;
            padding: 0 0 0 1.25rem;

        @media (max-width: 576px) {
            padding: 0
        }

        }
        }
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

    </style>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    $('.nav-item a').removeClass('active');
    $('.data-item a').addClass('active');
    $('.btn-toggle').click(function() {
        $(this).find('.btn').toggleClass('active');

        if ($(this).find('.btn-primary').length>0) {
            $(this).find('.btn').toggleClass('btn-primary');
        }
        if ($(this).find('.btn-danger').length>0) {
            $(this).find('.btn').toggleClass('btn-danger');
        }
        if ($(this).find('.btn-success').length>0) {
            $(this).find('.btn').toggleClass('btn-success');
        }
        if ($(this).find('.btn-info').length>0) {
            $(this).find('.btn').toggleClass('btn-info');
        }

        $(this).find('.btn').toggleClass('btn-default');

    });

    $('form').submit(function(){
        var radioValue = $("input[name='options']:checked").val();
        if(radioValue){
            alert("You selected - " + radioValue);
        };
        return false;
    });
</script>
<!-- Load and display data -->
<script>function renderEmbeds(){window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
  
    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };
    console.log('in function')
    return t;
  }(document, "script", "twitter-wjs"))};
  </script>
<script defer src="/static/assets/js/fetch-news.js"></script>
{% endblock javascripts %}